@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="vOneView">

    <h1>People Index</h1>

    <h2>Search a person</h2>


    <form asp-action="Search" method="post">
        <label>Name or City</label>
        <input asp-for="@Model.searchText" />
        <span asp-validation-for="@Model.searchText" class="text-danger"></span>
        <input type="submit" value="Search" />
    </form>

    <h2>Add new createPerson</h2>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="@Model.createPerson.Name"></label>
        <input asp-for="@Model.createPerson.Name" />
        <span asp-validation-for="@Model.createPerson.Name" class="text-danger"></span><br />
        <label asp-for="@Model.createPerson.PhoneNumber"></label>
        <input asp-for="@Model.createPerson.PhoneNumber" />
        <span asp-validation-for="@Model.createPerson.PhoneNumber" class="text-danger"></span><br />
        <span asp-validation-for="@Model.createPerson.PhoneNumber" />
        <label asp-for="@Model.createPerson.City"></label>
        <input asp-for="@Model.createPerson.City" />
        <span asp-validation-for="@Model.createPerson.City" class="text-danger"></span><br />
        <input type="submit" value="Create" />
    </form>


    <h2>List of people</h2>

    <h3>Show data as table</h3>

    <table class="table">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>City</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.tempList)
            {
                <tr>
                    @*<td>@person.Id</td>*@
                    <td>@person.Name</td>
                    <td>@person.PhoneNumber</td>
                    <td>@person.City</td>
                    <td><a asp-action="Delete" asp-route-id=@person.Id class="btn btn-danger">Delete</a> </td>
                </tr>
            }
        </tbody>
    </table>

    @*<h2>Show data as partial</h2>

    @foreach (var person in Model.tempList)
    {
    <partial name="_personPartial" model="person" />
    }*@

</div>